:root {
    /* CSS HEX */
    --night: #101010;
    --jonny: #171210;
    --movie-man: #4b3c33;
    --star-struck: #b9b9b9;
    --large-man: #cfd1d4;
    --white: #ffffff;

    --sea-green: #427964;
    --light-green: #60e17a;
    --light-purple: #781896;

    /* Fonts */

    --gothic-heading-font: "Gothic", sans-serif;
    --gothic-regular-font-weight: 380;
    --gothic-bold-font-weight: 680;
    --gothic-regular-font-style: normal;

    --open-sans-paragraph-font: "Open Sans", sans-serif;
    --open-sans-font-weight: 380;
    --open-sans-font-style: normal;

    --font-size-base: 1.2rem;
    --font-size-large: 1.4rem;
    --font-size-small: 0.9rem;
    --font-size-extra-large: 1.8rem;

    /* Text Colors */
    /* Headlines */
    --headline-color-on-white: var(--jonny);
    /* On light backgrounds */
    --headline-color-on-color: var(--white);
    /* On dark backgrounds */

    /* Paragraph Text */
    --paragraph-color-on-white: var(--movie-man);
    /* On light backgrounds */
    --paragraph-color-on-color: var(--white);
    /* On dark backgrounds */

    /* Background Colors */
    --paragraph-background-color: var(--movie-man);
    --paragraph-background-white: var(--white);

    /* Navigation Colors */
    --nav-link-color: var(--movie-man);
    --nav-background-color: var(--white);
    --nav-hover-link-color: var(--white);
    --nav-hover-background-color: var(--movie-man);

    /* Button Colors */
    --btn-background-color: var(--jonny);
    /* Primary button background */
    --btn-background-white: var(--white);
    /* Button background for white */
    --btn-font-on-color: var(--white);
    /* Text color on dark backgrounds */
    --btn-font-on-white: var(-);
    /* Text color on white background */

    /* Common Styles */
    --box-shadow: 0 3px 7px var(--paragraph-background-color);
    --box-shadow-dark: 0 3.5px 7px var(--night);
    --border-radius: 9px;
    --transition: transform 0.4s ease-in-out;
}

h1,

h2,

h3,

h4,

h5,

button {
    font-family: var(--gothic-heading-font);
    font-weight: var(--gothic-bold-font-weight);
    font-style: var(--gothic-regular-font-style);
    font-size: var(--font-size-base);
}

p {
    font-family: var(--open-sans-paragraph-font);
    font-weight: var(--open-sans-font-weight);
    font-style: var(--open-sans-font-style);
}


header,
footer {
    background-color: var(--headline-color-on-color);
    color: var(--headline-color-on-white);
}

header {
    width: 100%;
    box-shadow: 0 9px 4.5px #69564a67;
    font-size: var(--font-size-small);
}

.box-logo-header {
    display: flex;
    align-items: center;
    justify-content: left;
}

.box-logo-header h1 {
    display: inline-block;
}

.logo-chamber {
    width: 68px;
    padding: 9px 4.5px;
}

header h1 {
    display: inline-block;
    text-align: left;
    padding: 4.5px;
    font-size: var(--font-size-base);
}



/* ******************************************************************* Mobile Page **************************************************************/


/* ******************************************************************* Hamburger menu ***********************************************************/



#menu {
    display: block;
    font-size: 39px;
    text-decoration: none;
    padding: 7px 11px;
    background-color: var(--headline-color-on-color);
    color: var(--headline-color-on-white);
    font-family: var(--gothic-heading-font);
    position: absolute;
    top: 1.5rem;
    right: 1.4rem;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: var(--headline-color-on-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: none;
    font-family: var(--gothic-heading-font);
    font-weight: var(--gothic-bold-font-weight);
    font-style: var(--gothic-regular-font-style);
}

.nav-a {
    display: block;
    color: var(--headline-color-on-white);
    text-align: center;
    padding: 7.5px 15.5px;
    text-decoration: none;
}

.nav-a:hover:not(.active) {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

nav li:last-child {
    border-bottom: none;
}

.nav-a.active {
    background-color: var(--sea-green);
    color: var(--white);
}

.open li {
    display: block;
}

#menu.open::before {
    content: "X";
}

/* ****************************************************************** Discover page ******************************************************** */


main.discover {
    display: grid;
    grid-template-columns: 1.2fr;

    gap: 18px;
    padding: 19px;
    width: 100%;

    max-width: 680px;

    margin: 0 auto;

}


.discover .side-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.discover .side-bar article {
    background-color: var(--paragraph-background-white);
    border: 1px solid var(--light-purple);
    border-radius: var(--border-radius);
    padding: 18px;
    box-shadow: var(--box-shadow);
}


.article-02 img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.article-02 img.fade-in {
    opacity: 1;
}

.article-02 h3 {
    text-align: center;
    font-family: var(--gothic-heading-font);
    font-weight: var(--gothic-bold-font-weight);
    margin-bottom: 9px;
}


#calendar {
    font-family: Gothic, sans-serif;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
}

#calendar caption {
    text-align: left;
    padding: 5px 10px;
    background-color: #126165;
    color: #fff;
    font-weight: bold;
    font-size: medium;
}

#calendar th,
#calendar td {
    border: 1px solid var(--light-purple);
    padding: 8px;
    text-align: center;
}

#calendar .today {
    background-color: rgb(53, 101, 86);
}


.article-01 {
    font-family: var(--open-sans-paragraph-font);
    font-weight: var(--open-sans-font-weight);
    background-color: var(--paragraph-background-white);
    border: 1px solid var(--);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}

.article-01 header h3 {
    font-family: var(--gothic-heading-font);
    font-weight: var(--gothic-bold-font-weight);
    color: var(--headline-color-on-white);
    font-size: var(--font-size-large);
    margin-bottom: 12px;
    border-bottom: 1.5px solid var(--sea-green);
    padding-bottom: 4.5px;
}


.article-01 ul {
    list-style-type: none;

    padding: 0;
}


.article-01 li {
    font-size: var(--font-size-base);
    margin-bottom: 8px;
    color: var(--paragraph-color-on-white);
}


.article-01 strong {
    color: var(--jonny);
    font-weight: var(--gothic-bold-font-weight);
}



.local-photos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    margin: 18px 0;
    justify-items: center;
}


.local-photos figure {
    max-width: 100%;
    text-align: center;
}


.local-photos img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


.local-photos img:not(.lazy-image) {
    opacity: 1;
}


.local-photos figcaption {
    margin-top: 8px;
    font-size: 18px;
    color: #323232;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-top: 1px solid #00000051;
    padding: 10px;
}


footer p {
    margin: 0;
}


footer p:first-child {
    display: block;
    margin-top: 5px;
}


/* *********************************************************************** Large View ******************************/
@media (min-width: 860px) {
    header {
        flex-wrap: wrap;
        justify-content: left;
        gap: 8px;
        padding: 4.5px;
    }


    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    .logo-chamber {
        width: 88px;
    }


    header h1 {
        padding: 9px 0;
        font-size: var(--font-size-large);
    }


    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    nav ul li {
        display: block;
        flex: 1 1 auto;
    }


    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }


    .nav-a {
        position: relative;
        transition: color 0.3s ease;
        text-align: center;
        padding: 7px 15px;
        text-decoration: none;
        margin-bottom: 4.5px;
    }


    .nav-a:hover {
        color: var(--nav-hover-link-color);
    }


    .nav-a:hover::after,
    .nav-a:hover::before {
        width: 100%;
        left: 0;
    }


    .nav-a::after,
    .nav-a::before {
        content: "";
        position: absolute;
        top: calc(100% + 4px);
        width: 0;
        right: 0;
        height: 2.5px;
    }


    .nav-a::before {
        transition: width 0.4s cubic-bezier(0.54, 0.22, 0, 0.88) 0.2s;
        background: var(--star-struck);
    }


    .nav-a::after {
        transition: width 0.3s cubic-bezier(0.31, 0.17, 0.24, 0.92);
        background: var(--jonny);
    }


    nav li:last-child {
        border-bottom: none;
    }


    #menu {
        display: none;
    }




    main.discover {
        grid-template-columns: 1fr 3fr;

    }


    .local-photos {
        grid-template-columns: repeat(auto-fit,
                minmax(180px, 1.5fr));

    }
}