/* ************************************************************************** Home Page ************************************************************** */

/* ************************************************************************** home.css *************************************************************** */


main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 30px;
    row-gap: 20px;
}


section {
    margin: 0 auto;
}

section h3,
section h4 {
    font-size: var(--font-size-base);
}

.chamber-main-box {
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

article {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--paragraph-background-color);
    height: auto;
    padding: 10px;
}

.chamber-box-img {
    grid-column: 1/4;
    grid-row: 1/4;
    margin: 0 auto;
}

.chamber-box-img img {
    border-radius: 1px;
    box-shadow: 0 3.5px 7px var(--paragraph-background-color);
}

.call-to-action {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
    align-content: center;
    background-color: rgba(29, 66, 62, 0.764);
    color: var(--paragraph-color-on-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--paragraph-background-color);
}

.call-to-action h3 {
    padding: 0;
    color: var(--headline-color-on-color);
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.call-to-action p {
    padding: 0;
    text-align: left;
    margin: 0;
}

.join-us {
    background-color: var(--white);
    width: 90px;
    height: 30px;
    border: 1.2px solid var(--light-purple);
    padding: 5px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.join-us a {
    text-decoration: none;
    color: var(--light-purple);
    transition: color 0.4s ease;
}

.join-us:hover {
    background-color: var(--white);
    border-color: var(--light-purple);
}

.join-us:hover a {
    color: var(--white);
}



/************************************************************************************************************************************* */



.event-main-box {
    grid-column: 2/3;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    gap: 9px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 45px;
    color: var(--jonny);
}

.event-main {
    padding: 18px;
    margin: 0 auto;
}

#events-list {
    padding: 18px;
    max-width: 780px;
    margin: 0 auto;
}

.event {
    padding: 13px;
    text-align: left;
}

.event-main h2,
.current-weather h3,
.current-weather h2,
.weather-forecast h3 {
    font-size: var(--font-size-extra-large);
}

.event h3 {
    margin: 0;
    font-size: var(--font-size-base);
}

.event p {
    margin: 0;
}

.weather-main {
    grid-row: 2;
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-main p {
    text-align: center;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    width: 100%;
    max-width: 320px;
    text-align: center;
}

.current-weather h3 {
    margin-bottom: 9px;
}

.current-weather p {
    margin: 9px 0;
}

.current-weather figure {
    margin: 9px 0;
}

.current-weather figcaption {
    margin-top: 4.5px;
    font-weight: var(--open-sans-font-weight);
    font-style: var(--open-sans-font-style);
}

.forecast p {
    text-align: center;
}

.weather-forecast {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forecast {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    box-shadow: none;
}

.day-box {
    width: 220px;
    height: auto;
    border-radius: 9px;
    box-shadow: 0 3.5px 7px var(--paragraph-background-color);
    margin: 18px;
    padding: 13px;
}


/* ****************************************************************** Spotlights Box **************************************************************** */


.spotlights-main-box {
    grid-column: 2/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 18px;
    padding: 35px;
    margin-bottom: 48px;
    background-color: #455a618f;
}

.spotlights-main-box p {
    padding: 4.5px;
}

.spot-card {
    border-radius: 8px;
    box-shadow: 0 3.5px 7px var(--jonny);
    padding: 18px;
    margin: 0 auto;
    text-align: center;
    width: 280px;
    height: auto;
}

.spot-card-01 {
    grid-row: 1;
}

.spot-card-02 {
    grid-row: 2;
}

.spot-card-03 {
    grid-row: 3;
}

.title-spot h3,
.title-spot h4 {
    padding: 9px;
    margin: 0;
}

.title-spot h4 {
    font-size: 15px;
    color: var(--jonny);
}

.title-spot h3 {
    font-size: 12px;
    color: var(--jonny);
}

.spot-data {
    padding: 0px 18px;
}

.spot-data p {
    font-size: 13px;
    color: var(--stone);
}

.spot-img {
    padding: 9px 0;
}

.spot-img img {
    max-width: 90px;
    height: auto;
    border-radius: 7px;
}

.spot-card a {
    color: var(--jonny);
    text-decoration: none;
    transition: color 0.4s ease;
}

.spot-card a:hover {
    color: var(--light-purple);
}

.spot-card-01,
.spot-card-02,
.spot-card-03 {
    width: 220px;
    height: 380px;
    padding: 18px;
    margin: 0;
    border-radius: 9px;
    box-shadow: 0 3.5px 7px var(--stone);
}

.spot-card {
    background-color: var(--paragraph-background-white);
}

@media (min-width: 840px) {



    /* ********************************************************Home Page**************************************************** */


    .container-home {
        display: grid;
        max-width: 1024px;
        height: auto;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        gap: 18px;
    }

    .chamber-main-box {
        grid-row: 1;
        grid-column: 2;
    }

    .call-to-action {
        width: 450px;
        height: 220px;
    }


    /* ********************************************************* Event and Weather ********************************************** */


    .event-main-box {
        grid-row: 2;
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .event-main,
    .weather-main {
        width: 380px;
        height: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .event-main {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .weather-main {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .weather-forecast {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .forecast {
        width: 100%;
    }

    .main-day-box {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }


    /*  ************************************************** Spotlights ************************************************* */


    .spotlights-main-box {
        grid-row: 3;
        grid-column: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 45px;
        gap: 18px;
        max-width: 100%;
    }

    .spot-card-01 {
        grid-column: 1;
        grid-row: 1;
    }

    .spot-card-02 {
        grid-column: 2;
        grid-row: 1;
    }

    .spot-card-03 {
        grid-column: 3;
        grid-row: 1;
    }

    .spot-card-01,
    .spot-card-02,
    .spot-card-03 {
        width: 250px;
        height: 320px;
        padding: 20px;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 3.5px 7px var(--stone);
    }
}