:root {
    /*Breakpoint 
    --desktop-vw: 1200px;
    --laptop-vw: 1024px;
    --tablet-vw: 768px;
    --phone-vw: 480px;
    */

    /* CSS HEX Colours */
    --dark-green: rgb(28, 101, 57);
    --dark-army-green: rgb(17, 99, 37);
    --late-autum: rgb(80, 127, 4);
    --yellow-sunset-1: rgb(127, 181, 0);
    --yellow-sunset-2: rgb(113, 94, 0);
    --yellow-sunset-3: rgb(228, 223, 182);
    --sand-wisper: rgb(147, 140, 0);
    --tinfoil: rgb(162, 182, 222);
    --penny: rgb(180, 187, 203);
    --halo: rgb(189, 195, 208);
    --sky-green: rgb(8, 136, 102);

    /* Text Colors */

    /* Heading with white background */
    --headline-color-on-white: var(--yellow-sunset-3);

    /* Headlines on a colored background */
    --headline-color-on-color: var(--dark-army-green);

    /* Paragraph text on a white background */
    --paragraph-color-on-white: var(--secondary-color);

    /* Paragraph text on a colored background */
    --paragraph-color-on-color: var(--accent3-color);

    --paragraph-background-color: var(--yellow-sunset-3);

    /* Navigation Colors */
    --nav-link-color: var(--yellow-sunset-3);
    --nav-background-color: var(--yellow-sunset-1);
    --nav-hover-link-color: var(--yellow-sunset-2);
    --nav-hover-background-color: var(--halo);

    --barlow-regular-font-family: "Carrois", sans-serif;
    --barlow-regular-font-weight: 410;
    --barlow-regular-font-style: normal;

    --lato-regular-font-family: "Gothic", sans-serif;
    --lato-regular-font-weight: 410;
    --lato-regular-font-style: normal;

    --font-size-small: 15px;
    --font-size-base: 19px;
    --font-size-large: 23px;
}

h1,
h2,
h3,
h4,
h5,

li {
    font-family: var(--carrois-regular-font-family);
}

p {
    font-family: var(--gothic-regular-font-family);
}

body {
    display: flex;
    flex-direction: column;
}

/*Header */
header,
footer {
    background-color: var(--yellow-sunset-3);
    color: var(--dark-army-green);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.avatar {
    width: 160px;
    height: 144px;
    box-sizing: border-box;
    border: 2px var(--dark-army-green) solid;
    margin: 1rem 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 16px 1px rgba(26, 26, 26, 0.6);
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;

    img {
        width: 100%;
        height: auto;
    }
}

header h1 {
    margin-left: 20px;
    font-size: var(--font-size-base);
    font-weight: bold;
}

/******************************* mobile **************************/
/*Burger Menu Buttons*/

#menu {
    display: block;
    font-size: 38px;
    text-decoration: none;
    padding: 6px 10px;
    background-color: var(--yellow-sunset-1);
    color: var(--sky-green);
}

#menu {
    font-family: Gothic, sans-serif;
    position: absolute;
    top: 1.8rem;
    right: 1.4rem;
    cursor: pointer;
    border: 0;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: var(--tinfoil);
}

nav ul {
    list-style-type: none;
    margin: 2;
    padding: 2;
}

nav li {
    display: none;
    border-bottom: 2px solid #454b27;
}

nav a {
    display: block;
    color: var(--sky-green);
    text-align: center;
    padding: 16px 17px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

nav li:last-child {
    border-bottom: none;
}

nav a.active {
    background-color: #e2ffce;
    color: var(--dark-green);
}

.open li {
    display: block;
}

#menu.open::before {
    content: "X";
}

/************************************Content***********************************/


main {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    grid-gap: 1em;
    margin: 20px;
    flex: 1;

}

main section {

    border-radius: 4px;
    box-shadow: 4px 4px 6px;
    margin: 8px auto;
    background-color: var(--paragraph-background-color);
    width: fit-content;
    text-align: center;
}

section h2 {

    background-color: var(--yellow-sunset-3);
    color: var(--headline-color-on-color);
    margin: 0;
    border-radius: 6px 6px 0 0;
    font-size: var(--font-size-base);
    padding: 8px 0;

}

section ul {

    padding: 0 36px;
    margin: 8px 0;

}

section li {

    text-align: left;
    font-size: var(--font-size-small);

}

picture {

    padding: 10px;
    max-width: 300px;

}


section img {

    height: auto;
    width: 75%;
    display: block;

}

section img {

    border-radius: 10px;
    margin: 0 auto;

}

section p {

    font-size: var(--font-size-small);
    margin: 0 0 8px 0;

}

.boxcertificate01 {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 18px 0;

}

.boxButton {

    padding-top: 10px;

}

.courseButton {

    flex: 1 1 100%;
    margin: 5px;

}

.courseButton {

    display: inline-block;
    padding: 0.30rem 1rem;
    border-radius: 5rem;
    color: var(--sky-green);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.16rem;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.courseButton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--halo);
    border-radius: 4rem;
    z-index: -2;
}

.courseButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--sky-green);
    transition: all 0.4s;
    border-radius: 4rem;
    z-index: -1;
}

.courseButton:hover {

    color: var(--yellow-sunset-3);

}

.courseButton:hover:before {

    width: 100%;

}

.course {

    display: flex;
    align-items: center;
    justify-content: center;

}

.course {

    border: var(--yellow-sunset-3) solid 1px;
    width: 91%;
    padding: 8px;
    border-radius: 4px;

}

.course {

    transition: all 0.4s;
    position: relative;

}

.course h3 {
    font-size: var(--font-size-small);
    margin: 0;
    padding: 0;
}

.courseNoComplete {
    background-color: var(--sky-green);
    color: var(--yellow-sunset-3);
}

.courseComplete {

    background-color: var(--sky-green);
    color: rgb(255, 255, 255);

}

.course h3 {
    transition: all 0.3s;
}

.course::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s;
    border-top-width: 1.5px;
    border-bottom-width: 1.5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 34, 8, 0.468);
    border-bottom-color: rgba(0, 35, 51, 0.468);
    transform: scale(0.1, 1);

}

.course:hover h3 {

    letter-spacing: 2px;

}

.course:hover::before {

    opacity: 1;
    transform: scale(1, 1);

}

.course::after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s;
    background-color: rgba(8, 154, 227, 0.1);

}

.course:hover::after {

    opacity: 0;
    transform: scale(0.1, 1);

}

dialog {

    border: 1px solid var(--yellow-sunset-3);
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: var(--paragraph-background-color);
    box-shadow: 0 0 4rem var(--yellow-sunset-3);
    width: 85%;
    max-width: 580px;

}

::backdrop {
    background-color: rgba(3, 3, 3, 0.605);
}

dialog button {
    position: absolute;
    top: 22px;
    right: 22px;
    padding: 0.6rem 1.5rem;
    border: 1px solid var(--yellow-sunset-3);
}

/*********************************Details About Footer*************************************** */

footer {

    margin-top: auto;

}

footer p {

    margin: 0;

}

footer p {

    text-align: center;
    padding: 8px;

}

@media (min-width: 540px) {
    nav ul {

        display: flex;

    }

    nav ul li {

        display: block;
        flex: 1 1 100%;

    }

    #menu {

        display: none;

    }

    main {

        max-width: 768px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        margin: 8px auto;

    }

    main p {

        font-size: var(--font-size-base);

    }

    section {

        flex-basis: 14em;
        flex-grow: 1;

    }

    .boxcertificate01 {

        width: 640px;
        margin: 18px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1.5fr));
        grid-gap: 1em;
    }

    .course {

        padding: 8px;

    }
}